<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Testcases.checkwithvalidemailid"/>
    <class name="Testcases.checkwithusernamenull"/>
      <class name="Testcases.checkwithpasswordnull"/>
      <class name="Testcases.heckwithnumalphabetsspecialcharacters"/>
        <class name="Testcases.checkwithnulluseridnullpassword"/>
        <class name="Testcases.checkwithforgotpasswordlink"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
